.vast_api_key
.vscode
8080*
videos
*env/
test*
thrash/
_*.log
dream_machine/in_imgs/
dream_machine/out_imgs/
dream_machine/*.log
*.mid
midialogue/midi_in
midialogue/midi_out
midialogue/midi-utilities
archive
